@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');


html {background-color: black; font-family: 'Space Grotesk', sans-serif;}


header {background-color: black; font-family: "SpaceGrotesk";}



body 

h1 { font-family: "spacegrotesk"; }
h2 { text-align:center;font-size: 40px; color: #FFC107; font-family: 'Grotesk', sans-serif;}
nav {background-color: white;font-family: 'Grotesk", sans-serif; }
p {font-style: initial; font-size: 25px;font-family: 'Grotesk', sans-serif;}
p2 {font-size: 20px;font-family: "spacegrotesk";}

footer {background-color:#FFC107; color: black; font-family:'Grotesk', sans-serif;}
