@font-face {
    font-family:'Space Grotesk';
src: url("SpaceGrotesk-bold.ttf");
src: url("spaceGrotesk-light.ttf");
src: url("spaceGrotesk-medium.ttf");
src: url("spaceGrotesk-regular.ttf");
src: url("spaceGrotesk-semibold.ttf");
}


html {background-color: black;}


header {background-color: black;}



body 

h1 { font-family: 'Grotesk', sans-serif;}
h2 { text-align:center;font-size: 40px; color: gold; font-family: 'Grotesk', sans-serif;}
nav {background-color: white;font-family: 'Grotesk', sans-serif; }
p {font-style: initial; font-size: 25px;font-family: 'Grotesk', sans-serif;}
p2 {font-size: 20px;font-family: "spacegrotesk";}

footer {background-color:white;}
